@use 'helpers' as *;

:root {
	--color-dark: #000000;
	--color-light: #ffffff;
	--color-gray: #353535;
	--color-gray-1: #636264;
	--color-gray-2: #5F5F5F;
	--color-gray-3: #929292;
	--color-gray-4: #cfcfcf;
	--color-gray-5: #eaeaea;
	--sub-body-color: #105cd1;



	--color-primary: var(--color-dark);

	--color-blue: #3D8EDA;


	--color-border: #DEDEDE;

	--font-family-base: "Poppins", sans-serif;
	--font-family-secondary: "Montserrat", sans-serif;

	--container-width: #{rem(1697)};
	--container-padding-x: #{rem(32)};
	//@include mobile {
	//	--container-width: #{rem(400)};
	//}

	--transition-duration: .2s;

	//header


	//buttons

	//primary
	--btn-primary-color: var(--color-dark);
	--btn-primary-bg: var(--color-light);
	--btn-primary-color-active: var(--color-light);
	--btn-primary-bg-active: var(--color-dark);

}
